<template name="footer">
	
	<p class="f-white fs-1 fw-4 mb-2">NEETI 2018</p>
    <a href="https://www.facebook.com/BreakingDev/" target="_blank" class="hvr-white-to-red">
        <i class="fab fa-facebook-square fs-5 px-1"></i>
    </a>
    <a href="https://www.instagram.com/neeti_ist/" target="_blank" class="hvr-white-to-red">
        <i class="fab fa-instagram fs-5 px-1"></i>
    </a>
    <a href="https://www.linkedin.com/company-beta/3507596/" target="_blank" class="hvr-white-to-red">
        <i class="fab fa-linkedin fs-5 px-1"></i>
    </a>
    <a href="https://github.com/NEETIIST" target="_blank" class="hvr-white-to-red">
        <i class="fab fa-github-square fs-5 px-1"></i>
    </a>
	
</template>