<template name="footer">
	
    <div class="row justify-content-center align-items-center m-0">
        <div class="col-4 text-center cp">
            <span class="fs-1 {{isActiveLanguage 'pt'}} mb-2 hvr-white-to-red" id="lang-PT">PT</span>
        </div>
        <div class="col-4 text-center cp">
            <span class="fs-1 {{isActiveLanguage 'en'}} mb-2 hvr-white-to-red" id="lang-EN">EN</span>
        </div>
    </div>
	<div class="row justify-content-start align-items-center m-0">
        <div class="col-12 text-center p-0">
            <a href="https://www.facebook.com/BreakingDev/" target="_blank" class="hvr-white-to-red">
                <i class="fab fa-facebook-square fs-5 px-1"></i>
            </a>
            <a href="https://www.instagram.com/neeti_ist/" target="_blank" class="hvr-white-to-red">
                <i class="fab fa-instagram fs-5 px-1"></i>
            </a>
            <a href="https://www.linkedin.com/company-beta/3507596/" target="_blank" class="hvr-white-to-red">
                <i class="fab fa-linkedin fs-5 px-1"></i>
            </a>
            <a href="https://github.com/NEETIIST" target="_blank" class="hvr-white-to-red">
                <i class="fab fa-github-square fs-5 px-1"></i>
            </a>
        </div>
    </div>
	
</template>